/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}
/* 
.mainButton {
  background-color: #1a56db;
  color: white;
  transition: background-color 0.3s ease;
}

.mainButton:hover {
  background-color: #233786;
}

.secondaryButton {
  background-color: white;
  color: black;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.secondaryButton:hover {
  color: #1a56db;
  background-color: #d1d5db;
} */
